.container {
   margin: 0 auto;
   width: 1140px;
}

.mr-calculator {
   position: relative;
   display: inline-block;
   top: 40px;
   margin-left: 370px;
   font-size: 45px;
   font-family: arial;
   color: skyblue;
   cursor: pointer;
   transition: 0.5s;
   margin-top: 10px;
   text-decoration: none;
}

.github-link {
   text-decoration: none;
   color: skyblue;
}
span {
   color: red;
   cursor: pointer;
}
.calculator {
  position: relative;
  top: 100px;
  left: 350px;
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom right, #e6eeff, #80aaff);
  border-radius: 35px;
  border: 2px solid #FFFFFF;
  transition: 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button {
   background: rgba(255, 255, 255, 0.3); 
   width: 50px;
   height: 50px;
   display: inline-block;
   border-radius: 50px;
   margin: 1px;
   /*border: 2px solid #AFAEAE;*/
   border: none;
   transition: 0.5s;
   cursor: pointer;
   filter: blur(0.5px);
}

input {
   background: rgba(255, 255, 255, 0.3);
   position: absolute;
   left: 15px;
   top: 8px;
   border-radius: 50px;
   width: 245px;
   height: 40px;
   /*border: 2px solid #FFFFFF;*/
   border: 2px solid white;
   transition: 0.5s;
   text-align: right;
   font-size: 35px;
   padding-right: 10px;
   padding-left: 10px;
   color: #14141f;
   cursor: pointer;
}
.numbers {
   position: absolute;
   top: 60px;
   left: 20px;
}

.equal {
   position: absolute;
   margin-top: 21px;
   top: 105px;
   left: 216px;
   height: 103px;
   transition: all 0.5s;
   background: linear-gradient(to left, #99ffcc, #33ff99);
}

.line1, .line2, .line3{
   position: relative;
   left: -8px;
   margin-top: 5px;
}

.c-button {
   background: linear-gradient(to right, #ff3333, #ffb3b3);
}

.plus-button {
     background: linear-gradient(to top, #008ae6, #80ccff);
}
.minus-button {
   background: linear-gradient(to bottom, #008ae6, #80ccff);
}

.del-button {
   background: linear-gradient(to left, #ff3333, #ffb3b3);
   color: white;
}

.x-button {
     background: linear-gradient(to right, #008ae6, #80ccff);
}
.slash-button{
   background: linear-gradient(to left, #008ae6, #80ccff);
}

.nuqta-button {
   background: rgba(255, 255, 255, 0.5); 
}
.x-slash-minus-button{
   background: rgba(255, 255, 255, 0.5); 
}

.icons {
   width: 17px;
   height: 17px;
}